{% include 'estilo.html' %}

<footer class="py-3 my-4" style="background-color: #f2d117;">
    <!--<div class="container-fluid bg-red text-light mt-5 pt-6" style="background-color: #b0d2ea;"-->
       
        <p class="container text-center py-3" style="color: #b0d2ea;">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item" >
                    <a href="inicio/poli/" class="nav-link px-2 text-muted">Politica de privacidad</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link px-2 text-muted" >Aviso Legal</a>
                
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link px-2 text-muted" style="color: rgb(249, 249, 248);">Cookies</a>
                </li>

            </ul>
        </p>
        <p class="text-center text-muted">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">© Compañia, Inc </font>
            </font>
        </p>
    

</footer>

